#modules-suites-collection table {
  width: 100%;
}
#modules-suites-collection table tr.defended-suite {
  color: green;
}
#modules-suites-collection table tr.defending-now-suite {
  color: orange;
}
#modules-suites-collection table tr.not-defended-suite {
  color: red;
}
